.reform_chart_main_container {
  display: flex;
  flex-direction: column;
  color: var(--text-action-high-blue-france);
  width: 25rem;
}

.reform_chart__chart {
  /* background-color: rgb(211, 220, 255); */
  width: 100%;
  padding: 1rem;
}

.reform_chart_title {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: .3rem;
  height: 1.3rem;
}

.reform_chart_title__text {
  font-size: .8rem;
}

circle {
  fill: none;
  stroke: var(--text-action-high-blue-france);
}

path {
  stroke: var(--text-action-high-blue-france);
}