.header_main_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left_block {
  display: flex;
}

.right_block__nav_container {
  display: flex;
}

.right_block__profile_container {
  display: flex;
  justify-content: flex-end;
}