* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Marianne";
  src: 
   url("./assets/fonts/fontes-web/Marianne-Regular.woff") format("woff"),
   url("./assets/fonts/fontes-web/Marianne-Regular_Italic.woff") format("woff"),
   url("./assets/fonts/fontes-web/Marianne-Bold_Italic.woff") format("woff"),
   url("./assets/fonts/fontes-web/Marianne-Bold.woff") format("woff"),
   url("./assets/fonts/fontes-web/Marianne-Medium.woff") format("woff"),
   url("./assets/fonts/fontes-web/Marianne-Thin.woff") format("woff");
}