.accordion_container {
  margin-top: 3rem;
}

.accordion__questions .inactive {
  display: none;
}

.accordion__questions {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px -16px rgba(0, 0, 0, 0.32);
  padding: 1rem;
}

.accordion__questions > div {
  margin-bottom: 1.25rem;
  padding: 0px 1rem;
  border-radius: .3rem;
  cursor: pointer;
}

.accordion__title {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding-bottom: 1.25rem;
  font-size: .8rem;
  color: var(--text-action-high-blue-france);
}

